body {
margin-left:0;
margin-right:0;
margin-bottom:0;
color:#ebe2e2;
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-style:0;
border-color:#ffd919;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
padding-top:0;
padding-left:0;
padding-right:0;
padding-bottom:0;
box-shadow:0 0 0 0 rgba(184,22,22,1) inset;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bd48a45b5d_1699468426.jpeg);
background-color:#e6dada;
background-size:cover;
background-position:center center
}

#section-1 {
text-align:center;
min-height:738px;
padding-top:22px;
padding-left:5px;
padding-right:5px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bcf7249aff_1699467122.jpeg);
background-size:cover
}

@media screen and (max-width: 479px) {
#section-1 {
min-height:564px
}
}

#about {
margin-top:50px;
padding-left:5px;
padding-right:5px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bd2a87a9f0_1699467944.jpeg);
background-size:cover;
background-position:center center
}

#section-45 {
margin-top:50px;
text-align:center
}

#service {
margin-top:50px;
color:#1a0c42;
min-height:472px;
padding-top:0;
padding-left:5px;
padding-right:50px;
padding-bottom:36px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bcffdb8df7_1699467261.jpeg);
background-color:#1a0c42;
background-size:cover;
background-position:center center
}

#work {
margin-top:50px;
padding-left:5px;
padding-right:5px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bcffe51d57_1699467262.jpeg);
background-size:cover;
background-position:center center
}

#contact {
margin-top:50px;
min-height:773px;
padding-top:34px;
padding-left:5px;
padding-right:5px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bd20e0a963_1699467790.jpeg);
background-size:cover
}

#section-511 {
text-align:center;
padding-top:15px;
padding-bottom:5px;
background-color:#1a0c42
}

#heading-13 {
margin-top:150px;
font-family:Montserrat;
color:#fff;
font-size:75px;
font-weight:700;
text-align:center
}

@media screen and (max-width: 479px) {
#heading-13 {
font-size:35px;
margin-left:10%;
margin-right:10%;
margin-bottom:0;
margin-top:100px
}
}

#heading-14 {
font-family:Montserrat;
color:#fff;
font-size:30px
}

@media screen and (max-width: 479px) {
#heading-14 {
font-size:22px
}
}

#paragraph-15 {
margin-top:70px;
color:#fff;
font-size:22px
}

@media screen and (max-width: 479px) {
#paragraph-15 {
font-size:18px;
margin-top:20px
}
}

#button-16 {
margin-top:50px;
color:#190c41;
font-size:18px;
font-weight:700;
min-width:185px;
min-height:30px;
border-style:none;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
background-color:#ffa200
}

@media screen and (max-width: 479px) {
#button-16 {
margin-top:30px
}
}

#linkblock-3 {
display:flex
}

#navmenu-4 li a {
color:#fff
}

#searchbox-650 {
height:32px;
width:150px
}

#icon-651 {
color:#fff
}

#heading-20 {
font-family:Montserrat;
color:#ffa200;
font-weight:700;
text-align:center
}

#heading-21 {
font-family:Montserrat;
color:#000;
font-weight:700;
text-align:center;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bd48a45b5d_1699468426.jpeg);
background-size:cover;
background-position:center center
}

@media screen and (max-width: 479px) {
#heading-21 {
font-size:18px
}
}

#row-22 {
margin-top:30px
}

#column-23 {
padding-left:47px
}

@media screen and (max-width: 479px) {
#column-23 {
padding-left:5%
}
}

#heading-25 {
font-family:Montserrat;
color:#fff;
font-weight:700
}

@media screen and (max-width: 479px) {
#heading-25 {
font-size:30px;
margin-bottom:0
}
}

#button-26 {
margin-top:50px;
color:#1e2535;
font-size:18px;
font-weight:700;
min-width:185px;
min-height:30px;
border-style:none;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
background-color:#ffa200
}

@media screen and (max-width: 479px) {
#button-26 {
margin-top:20px
}
}

#paragraph-27 {
color:#fff5f5;
padding-right:10px
}

#row-71 {
margin-top:50px;
padding-left:10px;
padding-right:10px
}

@media screen and (max-width: 1024px) {
#row-71 {
padding-left:5%;
padding-right:5%
}
}

@media screen and (max-width: 479px) {
#row-71 {
flex-wrap:wrap
}
}

#heading-92 {
font-family:Montserrat;
color:#ffa200;
font-weight:700;
text-align:center
}

#heading-93 {
font-family:Montserrat;
color:#fff;
font-weight:700;
text-align:center
}

@media screen and (max-width: 479px) {
#heading-93 {
font-size:22px
}
}

#row-94 {
margin-top:20px;
padding-left:4px;
padding-right:4px
}

#heading-786 {
font-family:Montserrat;
color:#ffa200;
font-weight:700
}

@media screen and (max-width: 1024px) {
#heading-786 {
font-size:30px
}
}

@media screen and (max-width: 479px) {
#heading-786 {
font-size:18px
}
}

#paragraph-98 {
margin-top:10px;
color:#fff;
font-size:18px;
min-height:58px
}

#section-97 {
display:flex;
justify-content:flex-start;
align-items:center
}

#heading-100 {
font-family:Montserrat;
color:#ffa200;
font-weight:700
}

@media screen and (max-width: 1024px) {
#heading-100 {
font-size:30px
}
}

@media screen and (max-width: 479px) {
#heading-100 {
font-size:18px
}
}

#section-774 {
padding-right:0
}

#section-102 {
display:flex;
justify-content:flex-start;
align-items:center
}

#paragraph-105 {
margin-top:10px;
color:#fff;
font-size:18px
}

#heading-104 {
font-family:Montserrat;
color:#ffa200;
font-weight:700
}

@media screen and (max-width: 1024px) {
#heading-104 {
font-size:30px
}
}

@media screen and (max-width: 479px) {
#heading-104 {
font-size:18px
}
}

#section-107 {
display:flex;
justify-content:flex-start;
align-items:center
}

#paragraph-110 {
margin-top:10px;
color:#fff;
font-size:18px
}

#heading-109 {
font-family:Montserrat;
color:#ffa200;
font-weight:700
}

@media screen and (max-width: 1024px) {
#heading-109 {
font-size:30px
}
}

@media screen and (max-width: 479px) {
#heading-109 {
font-size:18px
}
}

#section-112 {
display:flex;
justify-content:flex-start;
align-items:center
}

#paragraph-115 {
margin-top:10px;
color:#fff;
font-size:18px
}

#heading-114 {
font-family:Montserrat;
color:#ffa200;
font-weight:700
}

@media screen and (max-width: 1024px) {
#heading-114 {
font-size:30px
}
}

@media screen and (max-width: 479px) {
#heading-114 {
font-size:18px
}
}

#heading-117 {
font-family:Montserrat;
color:#ffa200;
font-weight:700;
text-align:center
}

#row-119 {
margin-top:20px;
display:flex;
align-items:center
}

#row-126 {
display:flex;
align-items:center;
padding-top:15px
}

#row-133 {
display:flex;
align-items:center;
padding-top:25px
}

#row-140 {
display:flex;
align-items:flex-end
}

@media screen and (max-width: 479px) {
#column-121 {
margin-bottom:20px
}

#column-127 {
margin-bottom:20px
}
}

#column-129 {
min-height:246px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bd20dc216f_1699467789.jpeg);
background-size:cover;
background-position:center center
}

@media screen and (max-width: 479px) {
#column-129 {
margin-bottom:20px
}

#column-131 {
margin-bottom:20px
}

#column-134 {
margin-bottom:20px
}

#column-136 {
margin-bottom:20px
}

#column-138 {
margin-bottom:20px
}
}

#image-137 {
max-height:243px
}

@media screen and (max-width: 479px) {
#column-141 {
margin-bottom:20px
}
}

#column-143 {
padding-top:26px
}

@media screen and (max-width: 479px) {
#column-143 {
margin-bottom:20px
}
}

#heading-362 {
font-family:Montserrat;
color:#ffa200;
font-weight:700;
text-align:center
}

#heading-363 {
font-family:Montserrat;
color:#fff;
font-weight:700;
text-align:center
}

@media screen and (max-width: 479px) {
#heading-363 {
font-size:18px
}
}

#row-365 {
margin-top:20px;
padding-left:5px;
padding-right:5px
}

@media screen and (max-width: 1024px) {
#row-365 {
padding-right:0;
padding-left:0
}
}

#column-366 {
padding-top:44px
}

@media screen and (max-width: 479px) {
#column-366 {
padding-top:20px;
margin-bottom:20px
}
}

#column-367 {
padding-left:35px;
padding-right:63px
}

@media screen and (max-width: 479px) {
#column-367 {
padding:5%
}
}

#heading-368 {
font-family:Montserrat;
color:#f2ebea;
font-size:30px;
font-weight:700
}

#form-369 {
width:500px;
border-width:1px;
border-style:solid;
padding-top:30px;
padding-left:5px;
padding-right:5px;
padding-bottom:30px
}

#textinput-371 {
width:100%;
margin-bottom:10px;
color:#fafafa;
min-height:37px;
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-style:solid;
border-color:#230d65;
padding-left:10px;
background-color:rgba(255,255,255,0)
}

#textarea-488 {
width:100%;
margin-bottom:20px;
color:#e08686;
min-height:139px;
border-top-width:1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
border-style:solid;
border-color:#230d65;
padding-left:10px;
background-color:rgba(255,255,255,0)
}

#button-374 {
color:#230d65;
font-weight:700;
float:Right;
border-style:none;
background-color:#ffa600
}

#section-489 {
text-align:right;
min-height:576px;
padding-top:39px;
padding-left:10px;
padding-right:12px;
padding-bottom:20px;
background-image:url(https://speedwapp-assets.s3.us-west-2.amazonaws.com/user-gallery/rudra/654bd20e3b4d1_1699467790.webp);
background-color:#230c66;
background-size:cover;
background-position:center center
}

#heading-490 {
font-family:Montserrat;
color:#ffa200;
font-size:30px;
font-weight:700;
text-align:left
}

#paragraph-491 {
color:#fff;
font-weight:700;
text-align:left
}

#heading-493 {
margin-top:60px;
color:#ffa200;
font-size:22px;
font-style:italic;
text-align:left
}

#form-494 {
width:500px;
min-height:103px;
border-width:1px;
border-style:solid;
padding-top:30px;
padding-left:5px;
padding-right:5px;
padding-bottom:30px
}

#icon-504 {
margin-top:50px;
color:#ffa200
}

#icon-507 {
margin-top:50px;
margin-left:10px;
color:#ffa200
}

#icon-508 {
margin-top:50px;
margin-left:10px;
color:#ffa200
}

#textinput-498 {
width:100%;
margin-bottom:20px;
color:#fff;
min-height:41px;
border-bottom-width:1px;
border-style:solid;
border-color:#ffa200;
padding-left:10px;
background-color:rgba(245,233,234,0)
}

#button-499 {
color:#230d65;
font-weight:700;
float:Right;
border-style:none;
background-color:#ffa600
}

#paragraph-512 {
color:#fff
}